*.DS_Store
**/__pycache__/

*.bak
.vscode/
.env
*venv
.coverage
*.tmp

client/node_modules
client/dist
client/package-lock.json
client/.env

server/venv
server/.env

*.aux
*.log
*.out
*.pdf

logs/

~$IM..